<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kHomeButtonDefault</key>
	<string>193,29,49</string>
	<key>kHomeButtonPress</key>
	<string>174,25,43</string>
	<key>kTabButtonDefault</key>
	<string>153,153,153</string>
	<key>kMatchButtonDefault</key>
	<string>255,255,255</string>
</dict>
</plist>
